@import "tailwindcss";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
  background-color: #1a202c;
  color: #e2e8f0;
}

#__next {
  height: 100%;
}
