@import "tailwindcss";

:root {
  --color-app-bg: #0D1117;
  --color-section-bg: #161B22;
  --color-primary-text: #FFFFFF;
  --color-secondary-text: #C9D1D9;
  --color-tertiary-text: #8B949E;
  --color-accent-neon-blue: #00BFFF;
  --color-accent-orange: #FF8C00;
  --color-gradient-start: #00BFFF;
  --color-gradient-end: #FF8C00;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: var(--font-sans);
}

#__next {
  height: 100%;
}
